.wrapper {
  width:1200px;
  margin: 0 auto;
  font-size:36px;
}

.layout {
  display:flex;
  flex-wrap:wrap;
}

.header {
  width:100%;
  height: 100px;
  background-color: aquamarine;
}

.left-menu {
  width:20%;
  height: 500px;
  background-color: cornflowerblue;}

.right-menu {
  width:80%;
  height: 500px;
  background-color: coral;}

.footer {
  width:120%;
  height:150px;
  background-color: lightgreen;
  }