.김애옹{width:200px;}
.기매옹{width:200px;}
.기묭{width:250px;}
.blue{color:blue}
.coral{color:coral}
.green{color:green}
.pink{color:pink}
span {color:aquamarine}
.작은 {color:red}
body {background-color: pink;}
a {color:green}
a  {text-decoration:none}
h3 {color:aquamarine}
hr {border-bottom: 1px solid red;}