body {
  background-color:black;}

.google img{
width:400px;
display:block;
margin:0 auto;
margin-top:150px;}

.box {
width:500px;
height:70px;
border-radius: 30px;
background-color:white;
margin:0 auto;
margin-top:20px;
text-align:center;}
.font {font-weight: bolder;}
.text {padding:13px;}
