body{background-color:#000;}
.google img{width:400px;}
.google {width:500px;
margin: 0 auto;
text-align:center;
margin-top:150px;}

.bgc {
  background-color: #fff;
  border-radius:50px;
  padding:20px 0;
}

.logo {
  display:block;
  margin-top:80px;}
.text {
  font-size: 20px;
  font-weight:bold;
  margin-top:80px;
}